/* Catamaran Medium */
@font-face {
    font-family: "Catamaran-Medium";
    src: url('fonts/Catamaran/Catamaran-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Catamaran-Bold";
    src: url('fonts/Catamaran/Catamaran-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Dancing Script bold */
@font-face {
    font-family: "DancingScript";
    src: url('fonts/Dancing_Script/static/DancingScript-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Catamaran-Medium";
	display: flex;
	flex-flow: column;
	height: 100vh; /* Internet Explorer Fall Back*/
	min-height: 100vh;
}

a {
	text-decoration: none;
}

a:focus {
	outline: 3px double #807d6c;
	text-decoration: none;
}

li {
	list-style-type: none;	
}

img {
	max-width: 100%;
}

#skip a {
	height: 1px;
	left: -10000px;
	position: absolute;
	overflow: hidden;
	top: auto;
	width: 1px;
	padding: 1.2em;
}

#skip a:focus {
	height: auto;
	position: static;
	width: auto;
	background-color: #06162f;
	color: #ffffff;
}

.top {
	background-color: #1f2a47;
	color: #ffffff;
}

.header {
	padding: 1.2em;
}

.header__name {
	margin-bottom: 0.5em;
	font-family: "DancingScript";
	font-weight: 700;
	color: #ffffff;
	text-align: center;
}

.navigation__menu {
	margin-top: 1.2em;
	border: 1px solid #cccccc;
}

.navigation__item:not(:first-child) {
	border-top: 1px solid #ccc;
}

.navigation__link {
	display: block;        /* Setup to make it cliackable */
	padding: 0.8em 1em;    /* Creating the clickable area */
	font-weight: normal;
	font-family: "Catamaran-Medium";
	color: #ffffff;
}

.navigation__link:hover,
.navigation__link.active {
	background-color: #06162f;
	color: #ffffff;
}

@media screen and (min-width: 35em) {
	@supports (display: grid) {
		.navigation__menu {
			display: grid;
			grid-template-areas: "h1 h2" "h3 h4" "h5 h6";
		}

		.navigation__item:nth-child(2) {
			border-top: none;
		}

		.navigation__item:nth-child(3) {
			grid-row: 3;
			grid-column: 1/3;
			text-align: center;
		}
	}
}

@media screen and (min-width: 55em) {
	.top {
		display: flex;
		justify-content: space-between;
	}

	.navigation__menu {
		display: flex;
		border: none;
		margin-right: 4em;
	}

	.navigation__link {
		margin-right: 20px;
	}

	.navigation__item:not(:first-child) {
		border-top: none;
	}
}

.hero {
	display: block;
	padding: 17em 4em;
}

.hero {
	background-image: url("images/windows-unsplash.jpg");
	background-position: 40% 50%;
	background-color: #1a2340;
	clip-path: polygon(0 0,
		               0% 100%,
		               10% 100%,
		               10% 90%,
		               90% 90%,
		               90% 100%,
		               100% 100%,
		               100% 0);
}

main {
	padding: 2em;
	flex: 1 0 auto;
}

main h1 {
	text-align: center;
	font-size: 4em;
}

h2,
h2 + p {
	text-align: center;
}

.media-card {
	background-color: #fff;
	border: 1px solid hsl(0, 0%, 85%);
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	overflow: hidden;
	max-width: 18.75em;
	margin: 2em auto;
}

.media-card__image {
	display: block;
	width: 100%;
	height: auto;
}

.media-card__content {
	padding: 1rem;
}

.media-card__title {
	font-size: 1.25rem;
	color: rgba(0,0,0,0.8);
	font-family: "Catamaran-Bold";
}

.media-card__body {
	font-size: 1rem;
	color: rgba(0,0,0,0.75);
	line-height: 1.5;
	font-family: "Catamaran-Medium";
}


@media screen and (min-width: 48em)  {
	.row {
		display: flex;
		justify-content: space-between;
		padding: 1em;
	}
}

.our-info {
	text-align: center;
}

.our-info h3 {
	font-size: 2em;
}

footer {
	width: 100%;
	padding: 2em;
	background-color: #1f2a47;
	color: #ffffff;
}

footer a {
	color: #ffffff;
}

footer div.col:nth-child(1){
	font-family: "DancingScript";
	font-weight: 700;
}

.col {
	margin-bottom: 1.2em;
	text-align: center;
}

@media screen and (min-width: 35em) {
	footer {
		display: flex;
		justify-content: space-between;
	}
}